body {
    background: url(../img/vitalii-khodzinskyi-unsplash.jpg) center no-repeat;
    background-size: cover;
    height: 850px;
    width: auto;
    margin: auto;
}

div#drum-keys {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid crimson;
    padding: 10px 30px;
    margin: 10px 30px;
    max-width: 30px;

}